</div>
{{ if getenv "FA_CODE" }}
    <script src="https://use.fontawesome.com/{{ getenv "FA_CODE" }}.js"></script>
{{ end }}
<footer>
    {{ with $menu := $.Site.Menus.footer }}
    <nav id="footer-nav" class="grid-container">
        <ul>
            <li>&copy; 2017 StrangeNewPlaces.org contributors</li>
            {{ range $menu }}
            <li><a href="{{ .URL }}">{{ if .Pre }}{{ .Pre }} {{ end }}{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}
</footer>
</div>
<script data-turbolinks-eval="false" src="https://maps.googleapis.com/maps/api/js?key={{ getenv "MAPS_API_KEY" }}&amp;callback=initMap"></script>
</body>
</html>
