<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if and (not .IsHome) .Title }}{{ .Title }} « {{ end }}{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bundle.js"></script>
</head>
<body>
<div class="page-container">
    <header>
        <div class="grid-container">
            <h1><i class="fa fa-{{ if $.Scratch.Get "icon" }}{{ $.Scratch.Get "icon" }}{{ else }}globe{{ end }}"></i> {{ .Title }}</h1>
        </div>
    </header>
    <div class="grid-container">
