<h1>{{ .Title }}</h1>
{{ partial "breadcrumbs.html" . }}
<div class="grid-x grid-margin-x">
{{ if .Params.pos }}
<div class="medium-6 cell" id="map" data-lat="{{ .Params.pos.lat }}" data-lng="{{ .Params.pos.lng }}">
</div>
<script>

</script>
<script async defer src="/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ getenv "MAPS_API_KEY" }}&amp;callback=initMap">
</script>

{{ end }}
<div class="auto cell">
    <aside class="grid-x">
        {{ if .Params.website }}
        <dl class="medium-auto cell">
            <dt>Website:</dt>
            <dd><a href="{{ .Params.website }}">{{ .Params.website }}</a></dd>
        </dl>
        {{ end }}
        {{ if .Params.address }}
        <dl class="medium-auto cell">
            <dt>Address:</dt>
            <dd>{{ .Params.address }}</dd>
        </dl>
        {{ end }}
    </aside>
    {{ .Content }}
</div>
</div>{{/*grid-x*/}}
