<div class="page page--region">
    <h1>{{ .Title }}</h1>

    {{ partial "breadcrumbs" . }}

    {{ with $children := where $.Site.Pages ".Params.parent" "==" .File.BaseFileName }}
        {{ if (len $children) gt 0 }}
        <section>
            <h2>Children</h2>
            <ul>
                {{ range $children }}
                <li><a href="{{ .URL | relURL }}">{{ .Title }}</a> ({{ index $.Site.Data.poicount .File.BaseFileName | default 0 }} POIs)</li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    {{ end }}

    {{ with $pois := where $.Site.Pages ".Params.region" "==" .File.BaseFileName }}
        {{ if (len $pois) gt 0 }}
        <section>
            <h2>POIs</h2>
            <ul>
                {{ range $pois }}
                <li><a href="{{ .URL | relURL }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
    {{ end }}
</div>
