<div class="page page--region">
    {{ partial "breadcrumbs" . }}

    <div class="grid-x grid-margin-x">
        <div class="medium-auto cell" id="map" data-map-mode="list">
        </div>
        <script src="/js/map.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ getenv "MAPS_API_KEY" }}&amp;callback=initMap">
        </script>
        <div class="medium-auto cell">
            {{ with $children := where $.Site.Pages ".Params.parent" "==" .File.BaseFileName }}
                {{ if (len $children) gt 0 }}
                <section>
                    <ul class="subregions">
                        {{ range $children }}
                        <li class="subregions__item map__marker" title="{{ .Title }}" data-href="{{ .URL | relURL }}" data-lat="{{ .Params.pos.lat }}" data-lng="{{ .Params.pos.lng }}">
                            <a href="{{ .URL | relURL }}"><i class="fa fa-globe"></i> {{ .Title }}</a>
                            <span class="subregions__item__info">{{ index $.Site.Data.poicount .File.BaseFileName | default 0 }} POIs</span>
                        </li>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}
            {{ end }}

            {{ with $pois := where $.Site.Pages ".Params.region" "==" .File.BaseFileName }}
                {{ if (len $pois) gt 0 }}
                <section>
                    <ul class="pois">
                        {{ range $pois }}
                        <li class="pois__item map__marker" title="{{ .Title }}" data-href="{{ .URL | relURL }}" data-lat="{{ .Params.pos.lat }}" data-lng="{{ .Params.pos.lng }}">
                            <a href="{{ .URL | relURL }}"><i class="fa fa-map-marker"></i> {{ .Title }}</a>
                            {{ if .Params.tags }}
                                <ul class="pois__item__tags">
                                {{ range .Params.tags }}
                                    <li class="pois__item__tag"><a href="/tags/{{ . | urlize }}"><i class="fa fa-tag"></i> {{ . }}</a></li>
                                {{ end }}
                                </ul>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}
            {{ end }}

            <a href="https://gitlab.com/strangenewplaces/website/edit/master/content/{{ .File.Path }}" class="button small"><i class="fa fa-pencil"></i> Improve this page</a>
        </div>
    </div>
</div>
