{{ partial "header.html" . }}
<div class="page page__welcome">
    <div class="grid-x grid-margin-x">
        <div class="medium-6 cell" id="map" data-map-mode="list">
        </div>
        <div class="welcome medium-6 cell">
            <p>Welcome to StrangeNewPlaces 🎉 Here we try to collect first-hand travel
                tips from all over the world. Below you can navigate through all
                the regions in this archive. You can also use the map to drill
                down and search for interesting places.</p>
            <ul class="subregions">
                {{ range where (where (where $.Site.Pages "Section" "region") ".Params.parent" "==" nil) ".Type" "!=" "region" }}
                <li class="subregions__item map__marker" title="{{ .Title }}" data-lat="{{ .Params.pos.lat }}" data-lng="{{ .Params.pos.lng }}" data-href="{{ .URL | relURL }}">
                    <a href="{{ .URL | relURL }}"><i class="fa fa-globe"></i> {{ .Title }}</a>
                    <span class="subregions__item__info">{{ index $.Site.Data.poicount .File.BaseFileName | default 0 }} POIs</span>
                </li>
                {{ end }}
            </ul>
            <p>The following users have contributed to this project so far:</p>
            <ul class="list list--people">
                {{ range $.Site.Data.contributors }}
                <li class="list__item"><i class="fa fa-user"></i> {{ .name }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
