@import "foundation";

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-breadcrumbs;
@include foundation-button;
@include foundation-table;

$body-bg: #DDD;
$page-bg: #FFF;
$footer-color: #333;

body {
    background: $body-bg;
}

.page-container {
    background: $page-bg;
}

.grid-container {
    padding: 1rem;
}

h1 i {
    color: $primary-color;
}

#map {
    min-height: 400px;
    @include breakpoint(medium down) {
        order: 2;
    }
}

.tags {
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

.map__marker {
    &:hover {
        text-decoration: underline;
    }
}

.paymentoptions {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

footer {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: $body-bg;
    text-align: right;
    font-size: 80%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        &:before {
            content: '/';
            margin: 0 0.5rem;
            color: $primary-color;
        }

        &:first-child:before {
            content: '';
        }
    }
}
