{{ $.Scratch.Set "icon" "tag" }}
{{ partial "header.html" . }}
<div class="page page--tag">
    {{ partial "breadcrumbs.html" . }}

    <div class="grid-x grid-margin-x">
        <div class="medium-6 cell" id="map" data-map-mode="list">
        </div>
        <div class="medium-6 cell">
            <ul class="pois">
                {{ range .Data.Pages }}
                <li class="pois__item map__marker" data-href="{{ .URL | relURL }}" title="{{ .Title }}" data-lat="{{ .Params.pos.lat }}" data-lng="{{ .Params.pos.lng }}">
                    <a href="{{ .URL | relURL }}"><i class="fa fa-map-marker"></i> {{ .Title }}</a>
                    <span class="pois__item__info">
                        {{ with $path := index $.Site.Data.breadcrumbs .File.Path }}
                            {{ range $idx, $elem := $path }}
                                {{ if lt (add $idx 1) (len $path)}}
                                <a href="{{ $elem.url }}">{{ $elem.title }}</a>{{ if lt (add $idx 2) (len $path) }} / {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </span>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
<script src="/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ getenv "MAPS_API_KEY" }}&amp;callback=initMap">
</script>
{{ partial "footer.html" . }}
